<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    
    <application>
        <activity 
            android:name="com.mrboomdev.awery.platform.ExecutorActivity"
            android:exported="false" />
    </application>
</manifest>