<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Manage storage on old devices -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- For background jobs -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- For managing extensions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />

    <!-- To view extension packages in API 30+ -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="idm.internet.download.manager.plus" />
        <package android:name="idm.internet.download.manager" />
        <package android:name="idm.internet.download.manager.adm.lite" />
        <package android:name="com.dv.adm" />
    </queries>

    <application
        android:name=".app.AweryApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.Awery"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.Awery.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.IntentHandlerActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:scheme="awery" />
                <data android:host="mrboomdev.ru" />
                <data android:pathPrefix="/awery/app-login" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.player.PlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:supportsPictureInPicture="true"
            android:screenOrientation="userLandscape"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity android:name=".ui.activity.MultiSearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MediaActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ReaderActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".app.services.DownloadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".app.services.SubscriptionsService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">

            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />

        </service>
    </application>
</manifest>