<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Manage storage on old devices -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <!-- For background jobs -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- For managing extensions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />

    <!-- To view extension packages in API 30+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="idm.internet.download.manager.plus" />
        <package android:name="idm.internet.download.manager" />
        <package android:name="idm.internet.download.manager.adm.lite" />
        <package android:name="com.dv.adm" />
    </queries>

    <application
        android:name=".AweryApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="false"
        android:theme="@style/Theme.Awery"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.Awery.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.player.PlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:supportsPictureInPicture="true"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="DiscouragedApi" />

        <activity android:name=".ui.activity.MainActivity" android:exported="false" />
        <activity android:name=".ui.activity.SearchActivity" android:exported="false" />
        <activity android:name=".ui.activity.MediaActivity" android:exported="false" />
        <activity android:name=".ui.activity.ReaderActivity" android:exported="false" />
        <activity android:name=".ui.activity.settings.SettingsActivity" android:exported="false" />

        <activity android:name=".ui.activity.IntentHandlerActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="mrboomdev.ru" />
                <data android:pathPrefix="/awery_app_login" />
            </intent-filter>
        </activity>

        <receiver
            android:name="ani.awery.subcriptions.AlarmReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="Aani.dantotsu.ACTION_ALARM"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="ani.awery.download.video.MyDownloadService"
            android:exported="false">

            <intent-filter>
                <action android:name="androidx.media3.exoplayer.downloadService.action.RESTART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <service android:name="eu.kanade.tachiyomi.extension.manga.util.MangaExtensionInstallService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service android:name="eu.kanade.tachiyomi.extension.anime.util.AnimeExtensionInstallService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service android:name="ani.awery.download.manga.MangaDownloaderService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service android:name="ani.awery.download.novel.NovelDownloaderService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service android:name="ani.awery.connections.discord.DiscordService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>