<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Manage storage on old devices -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- For background jobs -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- For managing extensions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />

    <!-- To view extension packages in API 30+ -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>

        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:label="${appLabel}"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.Awery"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".ui.mobile.screens.SplashActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.Awery.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mobile.screens.IntentHandlerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.Awery.Splash"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="awery" />
                <data android:host="mrboomdev.ru" />
                <data android:pathPrefix="/awery/app-login" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="aniyomi" />
                <data android:host="add-repo" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.awerybck" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="mrboomdev.ru" />
                <data android:pathPrefix="/awery/app-login" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="mrboomdev.ru" />
                <data android:pathPrefix="/awery/app-login" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mobile.screens.player.PlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.tv.TvMainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.tv.TvExperimentsActivity"
            android:label="Awery Experiments"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:enabled="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mobile.screens.search.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.search.MultiSearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.BrowserActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.media.MediaActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.setup.SetupActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.GalleryActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Draggable"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.settings.AboutActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />

        <activity
            android:name=".ui.mobile.screens.settings.SettingsActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".ui.mobile.screens.settings.SettingsActivity2"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".app.services.BackupService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">

            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />

        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${fileProvider}"
            android:grantUriPermissions="true"
            android:exported="false">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <receiver android:name=".sources.yomi.YomiManager$PackageManagerReceiver" />
        <receiver android:name=".ui.mobile.screens.player.PlayerPip$Receiver" />
    </application>
</manifest>