name: Publish Alpha

on:
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
      - "README.md"
      - "LICENSE.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Get Commits Since Last Run
        run: |
          if [ -f last_sha.txt ]; then
            LAST_SHA=$(cat last_sha.txt)
          else
            LAST_SHA=$(git rev-list --max-parents=0 HEAD)
          fi
          echo "Commits since $LAST_SHA:"
          COMMIT_LOGS=$(git log $LAST_SHA..HEAD --pretty=format:"● %s ~%an [֍](https://github.com/mrboomdeveloper/awery/commit/%H)")
          COMMIT_LOGS=$(echo "$COMMIT_LOGS" | sed -E 's/#([0-9]+)/[#\1](https:\/\/github.com\/mrboomdeveloper\/awery\/pull\/\1)/g')
          FORMATTED_COMMIT_LOGS=$(echo "$COMMIT_LOGS" | awk '{printf "%s\\n", $0}')
          FORMATTED_COMMIT_LOGS="${FORMATTED_COMMIT_LOGS//'%'/'%25'}"
          FORMATTED_COMMIT_LOGS="${FORMATTED_COMMIT_LOGS//$'\n'/'%0A'}"
          FORMATTED_COMMIT_LOGS="${FORMATTED_COMMIT_LOGS//$'\r'/'%0D'}"
          echo "COMMIT_LOG=${FORMATTED_COMMIT_LOGS}" >> $GITHUB_ENV
          echo "$FORMATTED_COMMIT_LOGS" > commit_log.txt
          BRANCH=${{ github.ref }}
          BRANCH=${BRANCH#refs/heads/}
          echo "BRANCH=${BRANCH}" >> $GITHUB_ENV
          echo $GITHUB_SHA > last_sha.txt
        shell: bash
        env:
          CI: true
        continue-on-error: true

      - name: Build Alpha APK
        run: ./gradlew assembleAlphaRelease

      - name: Build Beta APK
        run: ./gradlew assembleBetaRelease

      - name: Build Production APK
        run: ./gradlew assembleProdRelease

      - name: Sign Alpha APK
        uses: r0adkll/sign-android-release@v1
        id: sign_alpha
        with:
          releaseDirectory: "app/build/outputs/apk/alpha/release"
          signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Sign Beta APK
        uses: r0adkll/sign-android-release@v1
        id: sign_beta
        with:
          releaseDirectory: "app/build/outputs/apk/beta/release"
          signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Sign Production APK
        uses: r0adkll/sign-android-release@v1
        id: sign_prod
        with:
          releaseDirectory: "app/build/outputs/apk/prod/release"
          signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Upload Beta APK
        uses: actions/upload-artifact@v4
        with:
          name: "Beta APK"
          retention-days: 90
          path: "app/build/outputs/apk/beta/release/app-beta-release-signed.apk"

      - name: Upload Alpha APK
        uses: actions/upload-artifact@v4
        with:
          name: "Alpha APK"
          retention-days: 90
          path: "app/build/outputs/apk/alpha/release/app-alpha-release-signed.apk"

      - name: Upload Production APK
        uses: actions/upload-artifact@v4
        with:
          name: "Production APK"
          retention-days: 90
          path: "app/build/outputs/apk/prod/release/app-prod-release-signed.apk"

      - name: Send Alpha APK to Telegram
        if: always()
        run: |
          COMMIT_LOG=$(cat commit_log.txt)
          telegram_commit_messages=$(echo "$COMMIT_LOG" | sed 's/%0A/\n/g' | while read -r line; do
            message=$(echo "$line" | sed -E 's/● (.*) ~(.*) ֍(.*)/● \1 ~\2 <a href="\3">֍<\/a>/')
            message=$(echo "$message" | sed -E 's/#([0-9]+) (https:\/\/github.com\/mrboomdeveloper\/awery\/pull\/\1)/<a href="\2">#\1<\/a>/g')
            echo "$message"
          done)
          telegram_commit_messages="<blockquote>${telegram_commit_messages}</blockquote>"
          curl -sS -f -X POST \
            "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendDocument" \
            -F "chat_id=-1002206819738" \
            -F "document=@app/build/outputs/apk/alpha/release/app-alpha-release-signed.apk" \
            -F "caption=New Awery Alpha Update\n\nCommits:\n${telegram_commit_messages}\nversion: ${VERSION}" \
            -F "parse_mode=HTML" \
            -F "message_thread_id=174"

      - name: Send Alpha APK to Discord
        if: always()
        run: |
          commit_id=$(echo "${{ github.sha }}" | cut -c1-7)
          author_name=$(git log -1 --pretty=format:'%an')
          author_username=$(git log -1 --pretty=format:'%ae' | cut -d'@' -f1)
          author_link="https://github.com/${author_username}"
          commit_message=$(cat commit_log.txt | sed 's/%0A/\n/g')
          payload=$(jq -nc --arg content "<@&1208839371575529572> 
          **Commit:** [${commit_id}](https://github.com/${{ github.repository }}/commit/${{ github.sha }}) by [${author_name}](${author_link}) 
          **Message:** ${commit_message}" '{content: $content}')
          curl -F "payload_json=$payload" \
           -F "file1=@app/build/outputs/apk/alpha/release/app-alpha-release-signed.apk" \
           ${{ secrets.DISCORD_WEBHOOK_URL }}